main {
  text-align: justify;
  padding: 1.5rem;
  padding-top: 74px;
  width: 72%;
}
main .img-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  main {
    width: 100%;
  }
}
