body {
  font-family: "Open Sans";
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat";
}
p {
  text-align: justify;
}

.layout {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}
